{% extends 'Base.html.twig' %}

{% block title %}index Centre - Admin{% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}    <link href="{{ asset('css/centre.css') }}" rel="stylesheet">#}
{#{% endblock %}#}

{% block subNavAdmin %}
    <h1>Centers list</h1>
    <h3>
        <a href="{{ path('center_new') }}">Create a new center</a>
    </h3>
{% endblock %}

{% block body %}

    <div class="colonesCenter">


            <div class="liste_centre">
                {% for center in centers %}
                    <div class='box{{ idCenter == center.id ? ' centre_actif'}}'>
                        <a href="{{ path('center_edit', { 'id': center.id }) }}" class="infos">
                            <div class="code_center">{{ center.codeCenter }}</div>
                            <div class="name_center">{{ center.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="infoCentre">
                {% block bodyCenterRight %}
                    <div>
                        <table>
                            <tbody>
                            <tr>
                                <th>Open Center</th>
                                <td>{{ stats.open }}</td>
                            </tr>
                            <tr>
                                <th>Close Center</th>
                                <td>{{ stats.close }}</td>
                            </tr>
                            <tr>
                                <th>Total Center</th>
                                <td>{{ stats.all }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endblock %}
            </div>

        {% else %}
            <p align="center">Aucun centre de disponible</p>
        {% endif %}
    </div>

{% endblock %}
