{% extends 'center/index.html.twig' %}

{% block title %}edit Centre - Admin{% endblock %}

{% block subNavAdmin %}
    <h1>Center edit</h1>
    <h3>
        <a href="{{ path('center_new') }}">Create a new center</a>
    </h3>
{% endblock %}
{% block bodyCenterRight %}

        <div class="centre_edit">
            <div class="edit">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn new" type="submit" value="Edit" />
                {{ form_end(edit_form) }}
            </div>
        </div>


{% endblock %}
