{% extends 'admin/adminBase.html.twig' %}

{% block title %}new Centre - Admin{% endblock %}

{% block subNavAdmin %}
    <h1>Center creation</h1>
    <h3>
        <a href="{{ path('center_index') }}">Back to the list</a>
    </h3>
{% endblock %}

{% block body %}

    <div class="centre_edit">
        <div class="edit">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
