{% extends 'admin/adminBase.html.twig' %}

{% block title %}show Centre - Admin{% endblock %}

{% block subNavAdmin %}

{% endblock %}

{% block body %}
    <h1>Center</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ center.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ center.name }}</td>
            </tr>
            <tr>
                <th>Codecenter</th>
                <td>{{ center.codeCenter }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ center.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('center_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('center_edit', { 'id': center.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
