{% extends 'admin/adminBase.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href="{{ asset('css/games.css') }}" rel="stylesheet">
{% endblock %}

{%block pagetitle %}
    Add Players
{%endblock %}

{% block links %}
    <a class="btn btn-user" href="{{ path('game_index') }}">Back to the list</a>
{% endblock %}

{% block body %}

    <div>
        <table class="table">
            <tr>
                <th width="25%">Name</th>
                <th width="25%">Date</th>
                <th width="10%">Duration</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.playedAt|date("d/m/Y - h:i:s") }}</td>
                <td>{{ game.duration }} Minutes</td>
                <td>
                    {% if game.status == "addplayers" and game.players.count >= 5 and game.players.count <= 10 %}
                        <a class="btn " href="{{ path('game_valid', { 'id': game.id }) }}">Valid</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="global">
        <div class="listplayers">
            <div class="players">
                <h4>Players in game</h4>
            </div>
            {% if game.players.count != 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>score</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for key, player in game.players.values %}
                    <tr>
                        <td>{{ key + 1 }}</td>
                        <td>{{ player.usernamegame }}</td>
                        <td>{{ player.score }}</td>
                        <td>
                            <a href="{{ path('game_playerremove', { 'idgame': game.id, 'idplayer': player.id }) }}">
                                <i class="fa fa-minus-square" aria-hidden="true"></i> Remove
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>players</th>
                        <th>nim : 5 &nbsp; &nbsp; &nbsp;max : 10</th>
                        <th colspan="2" style="text-align: center;">{{ game.players.count }} / 10 </th>
                    </tr>
                </tfoot>
            </table>
            {% else %}
                <h6>no players</h6>
            {% endif %}
        </div>
        {% if searchValue is not defined %}
            {% set searchValue = null %}
        {% endif %}

        <div class="listusers">
            <div class="searcheForm">
                <form class="form-inline my-2 my-lg-0" action="{{ path('game_filteruseraction', { 'idgame': game.id }) }}" method="post">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ searchValue }}">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div id="users">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Add</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set arrayPlayers = [] %}
                    {% if game.players.count != 0 %}
                        {% if game.players.count == 1 %}
                            {% set arrayPlayers = {0: game.players.toarray[0].user.id} %}
                        {% else %}
                            {% for key in 0..(game.players.count - 1) %}
                                {% set arrayPlayers = arrayPlayers|merge([game.players.toarray[key].user.id]) %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {% for user in users %}
                        {% if user.id not in arrayPlayers %}
                        <tr>
                            <td>
                                <a href="{{ path('game_playeradded', { 'idgame': game.id, 'iduser': user.id }) }}">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Add
                                </a>
                            </td>
                            <td>{{ user.username }}</td>
                        </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

