{% extends 'admin/adminBase.html.twig' %}

{%block pagetitle %}
    Game edit
{%endblock %}

{% block links %}
    <a class="btn btn-user" href="{{ path('game_index') }}">Back to the list</a>
{% endblock %}

{% block body %}

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

    <div style="width:50%;margin: auto;">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </div>


{% endblock %}
