{% extends 'admin/adminBase.html.twig' %}

{%block pagetitle %}
    Games list
{%endblock %}

{% block links %}
    <a class="btn btn-user" href="{{ path('game_new') }}">Create a new game</a>
{% endblock %}

{% block body %}

    {% set currentPage = app.request.attributes.get('page') %}
    {% set pageMax = (nbAllFinished / nb_row_by_page)|round(0,'ceil') %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Players</th>
                <th>Playedat</th>
                <th>Duration</th>
                <th>Center</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for key, gameByStatus in arrayRequest %}
        {% if gameByStatus.result  %}
            <tr>
                <th colspan="7">
                    <div style="background-color: #6E6E6E;margin-top: 10px;color: white;text-align: center;">
                        {{ gameByStatus.name }}
                    </div>
                </th>
            </tr>
            {% if key == 'finished'  %}
                <tr>
                    <td colspan="7" align="center">
                        {{ include('includes/pagination.html.twig') }}
                    </td>
                </tr>
            {% endif %}
            {% for game in gameByStatus.result %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.players.count }}</td>
                <td>{% if game.playedAt %}{{ game.playedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ game.duration }} min</td>
                <td>{{ game.center.name }}</td>
                <td>
                    <ul>
                        {% if game.status == "addplayers" and game.players.count < 10 %}
                            <li>
                                <a href="{{ path('game_addplayers', { 'id': game.id }) }}">Add Players</a>
                            </li>
                        {% endif %}
                        {% if game.status == "addplayers" and game.players.count >= 5 and game.players.count <= 10 %}
                            <li>
                                <a href="{{ path('game_valid', { 'id': game.id }) }}">Valid</a>
                            </li>
                        {% endif %}

                        {% if game.status == "finished" %}
                            <li>
                                <a href="{{ path('game_show', { 'id': game.id }) }}">show</a>
                            </li>
                        {% endif %}

                        {% if game.status == "valid" or game.status == "started" %}
                            <li>
                                <a href="{{ path('game_started', { 'id': game.id }) }}">Started</a>
                            </li>
                        {% endif %}

                        {% if game.status != "finished" and game.status != "valid" and game.status != "started" %}
                            <li>
                                <a href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            {% if key == 'finished'  %}
                <tr>
                    <td colspan="7" align="center">
                        {{ include('includes/pagination.html.twig') }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
