{% extends 'admin/adminBase.html.twig' %}

{%block pagetitle %}
    Game creation
{%endblock %}

{% block links %}
    <a class="btn btn-user" href="{{ path('game_index') }}">Back to the list</a>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn" type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
