{% extends 'admin/adminBase.html.twig' %}

{%block pagetitle %}
    Game
{%endblock %}

{% block links %}
    <a class="btn btn-user" href="{{ path('game_index') }}">Back to the list</a>
{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Playedat</th>
            <th>Duration</th>
            <th>Center</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{% if game.playedAt %}{{ game.playedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ game.duration }}</td>
                <td>{{ game.center.name }}</td>
                <td>
                    <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
                </td>
            </tr>
            <tr>
                <th colspan="6" style="text-align: center;">Players</th>
            </tr>
            <tr>
                <td colspan="6">
                    <table class="table" style="width: 50%;margin: auto;">
                        <thead>
                            <tr>
                                <th style="width: 50px;text-align: center;">Rank</th>
                                <th style="width: 100px;text-align: center;">Score</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set playersTrie = game.sortPlayers %}

                            {% set rank = 1 %}

                            {% for player in game.players %}
                            <tr>
                                <td style="text-align: center;">{{ rank }}</td>
                                <td style="text-align: center;">{{ player.score }}</td>
                                <td>{{ player.usernamegame }}</td>
                            </tr>
                                {% set rank = rank + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
