{% extends 'subnav_base.html.twig' %}
{% block body2 %}
<div class="container">
    <div class="row">
        {#<div class="box-nav col-md-3">#}
            {#<div class="box-nav-item">#}
                {#<a href="{{ path('profil_edit_password') }}">password</a>#}
            {#</div>#}
            {#<div class="box-nav-item">#}
                {#<a href="{{ path('profil_edit_username') }}">surnom</a>#}
            {#</div>#}
            {#<div class="box-nav-item">#}
                {#<a href="{{ path('profil_edit_email') }}">email</a>#}
            {#</div>#}
        {#</div>#}



        <div class="box-profil col-md-8 card ">
            <div class="row">
                <div class="avatar-box col-md-5 ">

                        <div class="avatr">
                            <h2>{{ app.user.userName }}</h2>
                            <img src="https://content.halocdn.com/media/Default/encyclopedia/characters/jun-a266/jun-a266-square-542x542-8576226f5a094ca2bcded1b5e2791267.jpg" alt="" width="250">

                            <h3>friends :</h3>
                            <div class="friends">
                                <div class="friend-item"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/zack415/128.jpg" alt=""></div>
                                <div class="friend-item"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg" alt=""></div>
                                <div class="friend-item"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt=""></div>
                                <div class="friend-item"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt=""></div>
                            </div>
                        </div>
                </div>
                <div class="username col-md-7">
                    {% if app.user.infosUser.id is defined %}
                        {% set infouser = true %}
                    {% else %}
                        {% set infouser = false %}
                    {% endif %}
                    <div class="title">Mail:</div>
                    <div class="box">{{ app.user.mail }}</div>
                    <div class="title">FirstName:</div>
                    <div class="box">{% if app.user.infosUser.id is defined %} {{ app.user.infosUser.firstName }} {% else %} aucune info {% endif %}</div>
                    <div class="title">Last Name:</div>
                    <div class="box">{{ infouser == true ? app.user.infosUser.lastName : "aucune info" }}</div>
                    <div  class="title">Adress:</div>
                    <div class="box">{{ infouser == true ? app.user.infosUser.streetNumber : "aucune info" }}
                        {{ infouser == true  ? app.user.infosUser.street : "aucune info" }}
                    </div>
                    <div class="title">zipCode:</div>
                    <div class="box">{{ infouser == true  ? app.user.infosUser.zipCode : "aucune info" }}</div>
                    <div class="title">city:</div>
                    <div class="box">{{ infouser == true  ? app.user.infosUser.city : "aucune info" }}</div>
                    <div class="title">phone Number:</div>
                    <div class="box">{{ infouser == true  ? app.user.infosUser.phoneNumber : "aucune info" }}</div>
                    <div class="title" >birthday:</div>
                    <div class="box">{{ infouser == true  ? app.user.infosUser.birthDay|date("d/m/Y") : "aucune info" }}</div>
                </div>



            </div>

            <div style="padding: 10px; margin-top: 20px;">

                {% if app.user.fidelitycards.count == 0 %}
                    {{ form_start(formCard) }}
                    <table>
                        <tbody>
                        <tr>
                            <td>{{ form_row(formCard.codeCenter) }}</td>
                            <td>{{ form_row(formCard.codeCard) }}</td>
                            <td>{{ form_row(formCard.checkSum) }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="submit" value="Link card" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {{ form_end(formCard) }}
                {% endif %}

                {% if app.user.fidelitycards.count > 0 %}
                    <table style="width: 100%;background-color: white;">
                        <tbody>
                        <tr>
                            <th></th>
                            <th>Code Center</th>
                            <th>Code Card</th>
                            <th>CheckSum</th>
                        </tr>
                        <tr>
                            <td>Carte de fidelité : </td>
                            <td>{{ app.user.fidelitycards.last.codeCenter }}</td>
                            <td>{{ app.user.fidelitycards.last.codeCard }}</td>
                            <td>{{ app.user.fidelitycards.last.checkSum }}</td>
                            <td rowspan="2"><img src="data:image/png;base64,{{ qrcode }}" /></td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>

        </div>



    </div>

</div>
{% endblock  %}



