
{% block body %}
{#<form>#}
    {#<!-- Form start -->#}
    {#<div class="row">#}
        {#<div class="col-md-6">#}
            {#<div class="form-group">#}
                {#{{ form_start(inform_user.firstName) }}#}
            {#</div>#}
        {#</div>#}
        {#<!-- Text input-->#}
        {#<div class="col-md-6">#}
            {#<div class="form-group">#}
                 {#{{ form_row(inform_user.lastName) }}#}
            {#</div>#}
        {#</div>#}
        {#<!-- Text input-->#}
        {#<div class="col-md-6">#}
            {#<div class="form-group">#}
                 {#{{ form_row(inform_user.streetNumber) }}#}
            {#</div>#}
        {#</div>#}
        {#<!-- Select Basic -->#}
        {#<div class="col-md-6">#}
            {#<div class="form-group">#}
                 {#{{ form_row(inform_user.street) }}#}
            {#</div>#}
        {#</div>#}
        {#<!-- Select Basic -->#}
        {#<div class="col-md-12">#}
            {#<div class="form-group">#}
               {#{{ form_row(inform_user.zipCode) }}#}
            {#</div>#}
        {#</div>#}
        {#<!-- Button -->#}
        {#<div class="col-md-12">#}
            {#<div class="form-group">#}
                {#<button id="singlebutton" name="singlebutton" class="btn btn-default">Make An Appointment</button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</form>#}
<!-- form end -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                {{ form_start(form_user) }}
                {{ form_widget(form_user) }}
                <input type="submit" value="Edit" />
                {{ form_end(form_user) }}
            </div>

            <div class="col-md-7">
                {{ form_start(inform_user) }}
                {{ form_widget(inform_user) }}
                <input type="submit" value="Edit" />
                {{ form_end(inform_user) }}
            </div>

        </div>
    </div>
    {% endblock %}