{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <nav class="box-nav col-md-3">
            <div class="box-nav-item">
                <a href="{{ path('profil') }}">Profil</a>
            </div>
            <div class="box-nav-item">
                <a href="{{ path('profil_edit_password') }}">Password</a>
            </div>
            <div class="box-nav-item">
                <a href="{{ path('profil_edit_username') }}">Surnom</a>
            </div>
            <div class="box-nav-item">
                <a href="{{ path('profil_edit_email') }}">Mail</a>
            </div>
            <div class="box-nav-item">
                <a href="{{ path('profil_edit_infouser') }}">Info User</a>
            </div>
        </nav>
        <div class="col-md-9 red">
            {% block body2 %}{% endblock %}
        </div>
    </div>


{% endblock %}