{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Fidelitycard edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('fidelitycard_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
