{% extends 'admin/adminBase.html.twig' %}
{%block pagetitle %}
    Fidelity card
{%endblock %}
{% block links %}
    <a class="btn btn-user" href="{{ path('fidelitycard_new') }}">new fidelityCard</a>
{% endblock %}

{% block body %}



    <table class="table">



        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User id</th>
                <th scope="col">Codecenter</th>
                <th scope="col">Codecard</th>
                <th scope="col">Checksum</th>
                <th scope="col">Status</th>
                <th scope="col">Level</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fidelityCard in fidelityCards %}
            <tr>
                <td><a href="{{ path('fidelitycard_show', { 'id': fidelityCard.id }) }}">{{ fidelityCard.id }}</a></td>
                <td>{% if fidelityCard.user %}{{ fidelityCard.user.id }} {% endif %}</td>
                <td>{{ fidelityCard.codeCenter }}</td>
                <td>{{ fidelityCard.codeCard }}</td>
                <td>{{ fidelityCard.checksum }}</td>
                <td>{{ fidelityCard.status }}</td>
                <td>{{ fidelityCard.level }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fidelitycard_show', { 'id': fidelityCard.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('fidelitycard_edit', { 'id': fidelityCard.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('fidelitycard_new') }}">Create a new fidelityCard</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
