{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Fidelitycard creation</h1>


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fidelitycard_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
