{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Fidelitycard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fidelityCard.id }}</td>
            </tr>
            <tr>
                <th>Codecenter</th>
                <td>{{ fidelityCard.codeCenter }}</td>
            </tr>
            <tr>
                <th>Codecard</th>
                <td>{{ fidelityCard.codeCard }}</td>
            </tr>
            <tr>
                <th>Checksum</th>
                <td>{{ fidelityCard.checksum }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ fidelityCard.status }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ fidelityCard.level }}</td>
            </tr>
            <tr>
                <th>QR code</th>
                <td>
                    <img src="data:image/png;base64,{{ qrcode }}" />
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fidelitycard_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fidelitycard_edit', { 'id': fidelityCard.id }) }}">Edit</a>
        </li>

    </ul>
{% endblock %}
