{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="flex-title">
                <div id="welcome">
                    <h1>Welcome to</br> Shinigami lazer</h1>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

