{% extends 'base.html.twig' %}

{% block title %}My Games{% endblock %}

{% block body %}

    <div class="container">
        {% if stats == null %}
            <p style="background-color: #ececec;width: 50%;margin: auto;text-align: center;padding:20px; font-size: 2em;">Aucune partie joué</p>
        {% else %}
        <table style="background-color: #ececec;width: 50%;margin: auto;text-align: center;padding:20px; font-size: 1.3em;">
            <thead>
            <tr style="background-color: #f6a21e">
                <th style="text-align: center;"></th>
                <th style="text-align: center;">Game name</th>
                <th style="text-align: center;">Played at</th>
                <th style="text-align: center;">Duration</th>
                <th style="text-align: center;padding-bottom: 5px;">Players</th>
            </tr>
            </thead>
            <tbody>
            {% for key, player in stats %}
                {% if player.game.status == "finished" %}
                <tr style="background-color: #e0e0e0;padding: 10px 0;">
                    <td style="padding-left:5px;">{{ key + 1 }}</td>
                    <td style="padding: 10px 0;">{{ player.game.name }}</td>
                    <td>{{ player.game.playedAt|date("d/m/Y - h:i:s") }}</td>
                    <td>{{ player.game.duration }}</td>
                    <td>{{ player.game.players.count }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <br />
                        <table style="width: 80%;margin: auto;">
                            <thead>
                                <tr style="border-bottom: 1px solid lightgray;font-weight: bold;">
                                    <td>Rank</td>
                                    <td>Username</td>
                                    <td>Username game</td>
                                    <td>Score</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% set playersTrie = player.game.sortPlayers %}

                            {% for key, playerINgame in player.game.players.values %}
                                {% if playerINgame.user.id == app.user.id %}
                                <tr style="background-color: aqua;">
                                {% else %}
                                <tr">
                                {% endif %}
                                    <td style="padding: 10px 0;">{{ key + 1 }}</td>
                                    <td style="padding: 10px 0;">{{ playerINgame.user.username }}</td>
                                    <td style="padding: 10px 0;">{{ playerINgame.usernamegame }}</td>
                                    <td style="padding: 10px 0;">{{ playerINgame.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br />
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}



