{% extends 'base.html.twig' %}

{% block body %}

    {% for center in centers %}
<div class="row row-margin-bottom">
    <div class="col-md-4 col-md-offset-4 no-padding lib-item" data-category="view">
        <div class="lib-panel">
            <div class="row box-shadow">
                {#<div class="col-md-6 ">#}
                    {#<img class="lib-img-show" src="http://lorempixel.com/850/850/?paris=123">#}
                {#</div>#}
                <div class="col-md-12 lib-cart">
                    <div class="lib-row lib-header">
                        {{ center.name }}
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                        {{ center.streetNumber }} {{ center.street }} <br>   {{ center.zipcode }} {{ center.city }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% endfor  %}
{% endblock  %}

