{% extends 'base.html.twig' %}

{% block title %}Ranking Global{% endblock %}

{% block body %}




    <div class="container">
    <table class="table" style="background-color: #ececec;width: 50%;margin: auto;text-align: center;padding:20px; font-size: 1.3em;"" >
        <thead>
            <tr style="background-color: #f6a21e">
                <th style="text-align: center;">Rank</th>
                <th style="text-align: center;">Username</th>
                <th style="text-align: center;">Score</th>
            </tr>
        </thead>
        <tbody>
        {% for key, userPlayer in stats %}
            <tr>
                <td >{{ key + 1 }}</td>
                <td>{{ userPlayer.username }}</td>
                <td>{{ userPlayer.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

