{% extends 'base.html.twig' %}

{% block title %}
Registration
{% endblock %}

{% block body %}

    <div class="flex center">
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>

{% endblock %}
