{% extends 'base.html.twig' %}

{% block title %}
    Stats
{% endblock %}

{% block body %}

    <div class="container">
        {% if nbGames == 0 %}
        <p style="background-color: #ececec;width: 50%;margin: auto;text-align: center;padding:20px; font-size: 2em;">Aucune partie joué</p>
        {% else %}
        <div style="width: 80%;background: #ececec;padding: 5px;margin: auto;">
            <div style="width:80%;margin:auto;margin-bottom: 15px;">
                <table style="width: 100%;text-align: center;font-size: 1.3em;">
                    <thead>
                        <tr>
                            <th style="text-align: center;"> Best Score</th>
                            <th style="text-align: center;"> Total Score</th>
                            <th style="text-align: center;"> Nombre de parties</th>
                            <th style="text-align: center;"> Score moyen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">{{ tabScores.bestScore }}</td>
                            <td style="text-align: center;">{{ tabScores.totalScore }}</td>
                            <td style="text-align: center;">{{ nbGames }}</td>
                            <td style="text-align: center;">{{ tabScores.scoreM }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding: 2px;">
                <h2 style="border-bottom: 1px solid black;padding-bottom: 2px;">Best Game</h2>
                <table style="background-color: #ececec;width: 100%;margin: auto;text-align: center;padding:20px; font-size: 1.3em;">
                    <thead>
                        <tr style="background-color: #f6a21e">
                            <th style="text-align: center;">Game name</th>
                            <th style="text-align: center;">Played at</th>
                            <th style="text-align: center;">Duration</th>
                            <th style="text-align: center;">Center</th>
                            <th style="text-align: center;">Username</th>
                            <th style="text-align: center;">score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in gamesBestScore %}
                        <tr>
                            <td style="text-align: center;padding-bottom: 20px;">{{ player.game.name }}</td>
                            <td style="text-align: center;">{{ player.game.playedAt|date("d/m/Y - h:i:s") }}</td>
                            <td style="text-align: center;">{{ player.game.duration }}</td>
                            <td style="text-align: center;">{{ player.game.center.name }}</td>
                            <td style="text-align: center;">{{ player.usernameGame }}</td>
                            <td style="text-align: center;">{{ player.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>

{% endblock %}

