
{% set currentRoute = app.request.attributes.get('_route') %}
       {% set routes_centre = ["center_index","center_new","center_show","center_edit"] %}
       {% set routes_fidelitycard = ["fidelitycard_index","fidelitycard_new","fidelitycard_show","fidelitycard_edit"] %}
       {% set routes_games = ["game_index","game_new","game_show","game_edit","game_addplayers","game_filteruseraction","game_started"] %}
       {% set routes_users = ["user_index","user_new","user_show","user_edit"] %}
       {% set routes_offres = ["#"] %}

<ul class="nav navbar-nav">
    <li class="nav-item {{ currentRoute == 'admin_index' ? 'active' }}">
        <a class="nav-link" href="{{ path('admin_index') }}">Accueil</a>
    </li>
    <li class="nav-item {{ currentRoute in routes_fidelitycard ? 'active' }}">
        <a class="nav-link" href="{{ path('fidelitycard_index') }}">Carte Fidelite</a>
    </li>
    <li class="nav-item {{ currentRoute in routes_centre ? 'active' }}">
        <a class="nav-link" href="{{ path('center_index') }}">Centre</a>
    </li>
    <li class="nav-item {{ currentRoute in routes_games ? 'active' }}">
        <a class="nav-link" href="{{ path('game_index') }}">Parties</a>
    </li>
    <li class="nav-item {{ currentRoute in routes_users ? 'active' }}">
        <a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Offres</a>
    </li>
</ul>

