{% extends 'admin/adminBase.html.twig' %}

{% block subNavAdmin %}
    <h1>ADMIN Shinigami Laser</h1>
{% endblock %}

{% block body %}
    <h2>Card number: </h2>
    <div id="form-container">

        <div class="codeCenter">
            {{ form_start(form) }}
            {#{{ form_label(form.codeCenter) }}#}
            {{ form_errors(form.codeCenter) }}
            {{ form_widget(form.codeCenter,{'attr':{'maxlength':'3' }}) }}
        </div>
        <div class="codeCard">
            {#{{ form_label(form.codeCard) }}#}
            {{ form_errors(form.codeCard) }}
            {{ form_widget(form.codeCard,{'attr':{'maxlength':'6' }}) }}
        </div>
        <div class="checksum">
            {#{{ form_label(form.checkSum) }}#}
            {{ form_errors(form.checkSum) }}
            {{ form_widget(form.checkSum,{'attr':{'maxlength':'1' }}) }}

        </div>
        <input  class="btn" id="red" type="submit" value="envoyez" />
        {{ form_end(form) }}


    </div>


    {{ form_end(form) }}
    {% if cardUser is defined %}
            <div class="search-result">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>userName</th>
                        <th>email</th>
                        <th>status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="t-mail">{{cardUser.user.userName  }}</td>
                            <td class="t-mail">{{cardUser.user.mail  }}</td>
                            <td class="t-mail">{{cardUser.status}}</td>
                            <td><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                            {#<i class="fa fa-eye" aria-hidden="true"></i>#}
                            {#<i class="fa fa-trash-o" aria-hidden="true"></i>#}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    {#<div style="width: 900px;">#}
    {#{{ dump(carte) }}#}
    {#</div>#}

{% endblock %}