<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin !{% endblock %}</title>
{% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary  navbar-fixed-top" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{path('homepage')}}"><img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/199/416344199_ee5a67e4-8144-4fe0-b96c-76afe3a11269.png?cb=1511730106" width="100" alt="">
                </a>

            </div>
            <button class="navbar-toggler hidden-md-up pull-xs-right" data-target=".collapsenav " data-toggle="collapse" type="button">
                ☰
            </button>
            <div class="navbar-toggleable-sm collapse pull-md-right text-xs-center collapsenav" >
                <ul class="nav navbar-nav">

                    <span><img width="42" class="img-circle" alt="User Avatar" src="https://t.hizliresim.com/3vp0pp-s.jpg"></span>

                    <span class="navbar-text">Bienvenue, Admin !</span>

                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron collapsenav" >
        <div class="container">
            <div class="jumbo-head">
                <h1>{% block pagetitle %}Admin{% endblock %}</h1>
                {% block links %}{% endblock %}
            </div>

    {{ include('admin/adminNav.html.twig') }}


        </div>

    </div>


    <div class="container">
        <div class="div_body">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block body %}{% endblock %}
                <br/>
                <br/>
            </div>
        </div>
        {{ include('includes/footer.html.twig') }}
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}

</body>
</html>
