{% extends 'admin/adminBase.html.twig' %}

{%block pagetitle %}
    User Edit
{%endblock %}
{% block links %}
    <a class="btn btn-user" href="{{ path('user_index') }}">Back to the list</a>
{% endblock %}

{% block body %}
   
<div class="container">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
</div>
{% endblock %}
