{% extends 'admin/adminBase.html.twig' %}


{%block pagetitle %}
    User
{%endblock %}
{% block links %}
    <a class="btn btn-user" href="{{ path('user_new') }}">Add User</a>
{% endblock %}

{% block body %}

    <table class="table ">
        <thead>
        <tr>
            <th> Name</th>
            <th>email</th>
            <th>role</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
        <tr>
            <td>
                  <span>
                  <img width="40" class="img-circle" alt="User Avatar"       src="https://t.hizliresim.com/3vp0pp-s.jpg">
                  </span>
                {{ user.username }}
            </td>
            <td class="t-mail">{{ user.mail }}</td>
            <td class="t-role">{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
            <td></td>
            <td class="td-awesome">

                <a href="{{ path('user_edit', { 'id': user.id }) }}">  <i class="fa fa-pencil" aria-hidden="true"></i></a>

                <a href="{{ path('user_show', { 'id': user.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i</a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}








    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Username</th>#}
                {#<th>Mail</th>#}
                {#<th>Password</th>#}
                {#<th>Roles</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for user in users %}#}
            {#<tr>#}
                {#<td>#}
                  {#<span>#}
                  {#<img width="40" class="img-circle" alt="User Avatar"       src="https://t.hizliresim.com/3vp0pp-s.jpg">#}
                  {#</span>#}
                    {#jim Morrison#}
                {#</td>#}
                {#<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>#}
                {#<td>{{ user.username }}</td>#}
                {#<td>{{ user.mail }}</td>#}
                {#<td>{{ user.password }}</td>#}
                {#<td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('user_show', { 'id': user.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('user_new') }}">Create a new user</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}
