{% extends 'admin/adminBase.html.twig' %}


{%block pagetitle %}
    Create New User
{%endblock %}
{% block links %}
    <a class="btn btn-user" href="{{ path('user_index') }}">Back to the list</a>
{% endblock %}

{% block body %}

    <div class="flex center">
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <input class="btn" type="submit" value="Create" />
        {{ form_end(form) }}
    </div>

{% endblock %}
