{% extends 'admin/adminBase.html.twig' %}

{%block pagetitle %}
    User
{%endblock %}
{% block links %}
    <a class="btn btn-user" href="{{ path('user_index') }}">Back to the list</a>
{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Mail</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.mail }}</td>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
