li{list-style: none}
.bg-primary {
    color: grey!important;
    background-color: white!important;
}
span.navbar-text{
    padding-top:9px;
    display:inline-block;
    padding:0 1em 0 0.75em ;
}
nav li{
    display:inline-block;
}
/* .jumbo-head{
  padding: 4px 0 0;
} */
.jumbotron{
    padding:100px 0 0 0;
    background:  #dce6f199;
}
.jumbotron ul li {
    display: inline-block;
    margin-right: 3em;
    padding-top: 1.3em;
    padding-bottom: 0.4em;
    text-transform: uppercase;
    font-weight: 400;
}
.active{
    border-bottom:4px solid #ff57227d;
}
h1{
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:2px;
    color:lightgrey;
}

/**************userlist***********************/

.img-circle{
    border-radius:50%;
    margin-right:2em;

}
th{
    text-transform: uppercase;
    color: grey;
    font-weight:300;
    background: #ececec;
}
td.t-mail,td.t-game,td.t-role,td.td-awesome{
    padding-top: 20px;
}
td.td-awesome i{
    padding-right:2em;
    color:#ff57227d;
    font-size:1.1em;

}
.btn-user{
    text-transform:uppercase;
    float:right;
    padding:0.70em 2.5em;
    border-radius:500px;
    margin:10px 0 20px 0;
    background: #ff57227d;
    color:white

}
h1{
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:2px;
    color:lightgrey;
    display:inline-block
}
/*******************formcardfidelity***************************/

#form-container div>*{
    border:none;
    padding:10px;
    line-height:35px;
    background:white;
    font-size:20px;
    border-right:1px solid lightgrey;

}
#form-container div>*:last-child{
    border-right:0;
}
#form-container{
    display:flex;
}
#form-container .form-control{
    border:none
}
/*#form-container input{*/
    /*display:inline;*/
    /*margin: 0 auto;*/

/*}*/
#form-container div{
    display:flex;
    border:10px solid #ccc6c6;
}
#red {
    background: #ffaa8ff7;
    color: white;
    border-radius: 0;
    font-weight: bold;
    font-size: 1.2em;
}
.codeCenter{
    width:15%;
}

.checksum{
    width:8%;
}
.foot {
    position: fixed;
    bottom: 0;
    right: 60em;
    background: white ;
    /* top: 10px; */
}
@media only screen and (max-width: 768px) {
    .collapse {

        visibility: visible !important
    }

    div.collapsenav.show {
        display: block;
    }

    .jumbotron {
        display: none;
    }

    .jumbotron .nav-item {
        width: 100%;
    }
    .jumbotron ul li {
         padding-top: 0;

    }
    a.btn.btn-user {
        display: block;
        width: 100%;
        border-radius: 1px;
    }
    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
}