.colonesCenter {
    display: flex;
}
.liste_centre {
    border: 0 solid white;
    width: 320px;
    margin-top: 10px;
    justify-content: flex-start;
}

.box {
    width: 300px;
    height: 60px;
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    margin-top: 20px;
    background: #ff5722cf;
    position: relative;
    /* overflow: hidden; */
    /* transform: translate3d(0, 0, 0); */
}
/*.box:hover {*/
    /*box-shadow: 0 2px 20px rgba(0, 0, 0, .8);*/
/*}*/
.infos {
    /* display: block; */
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    line-height: 60px;
    /* text-align: left; */
    /* transform: translate3d(0, 0, 0); */
    color: white;
    /* font-family: 'verdana', serif; */
    /* letter-spacing: 0.4em; */
    /* font-size: 15px; */
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, .1); */
    /* text-indent: 0.3em; */
    /* z-index: 1; */
}

.code_center {
    position: absolute;
    left: 5px;
    top: 0;
    width: 70px;
    border: 0 solid white;
}
.name_center {
    position: absolute;

    border: 0 solid white;
    left: 76px;
    top: 0;
    width: 220px;
}
.box a {
    color: #FFFFFF;
}
.box a:hover {
    color: #CCCCCC;
    font-weight: bold;
    /*text-shadow: 0 1px 0 rgba(255, 0, 0, .1);*/
}

.centre_actif {
    background: #e4a171e6;
}

.infoCentre {
    width: 100%;
    border: 0 solid white;
    padding-left: 10px;
    justify-content: flex-end;
}

.centre_edit {
    justify-content: flex-start;
    width: 500px;
    border-radius: 2px;
    margin: 40px auto;
    background: #eef2f3;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(109, 108, 108, 0.4);
}

.edit {
    margin: 10px;
    border: 0 solid black;
}
ul.centre-status {
    width: 30vh;
    /* background: rebeccapurple; */
    margin: 80px auto;
}
.centre-status li p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 24px;
    text-transform: uppercase;
    color: #a7a3a3;
}

@media only screen and (max-width: 768px) {
    .colonesCenter {
        display: block;
    }
    .box {
        width: 93vw;}
    infoCentre {
        width: 100%;
        border: 0 solid white;
        /* padding-left: 10px; */
        justify-content: flex-end;
        margin-top: 20px;
    }
}