.global {
    border: 0px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
}

.listplayers {
    width: 49%;
    border: 0px solid black;
    align-items: stretch;
    margin-right: 2px;
}
.listplayers h4 {
    text-align: center;
}
.listplayers h6 {
    text-align: center;
}
.listusers {
    width: 49%;
    border: 0px solid green;
    align-items: stretch;
}
.searcheForm, .players {
    background-color: #b7b7b7;
    padding: 5px;
    text-align: center;
}

.players {
    padding: 7px;
    color: white;
}
.started{
    display: flex;
    justify-content: center;
}
.started a:hover {
    font-size: medium;
    color:red;
    font-weight: bold;
    background: #a0a0a0;
    text-shadow:  0 3px 0 rgba(0, 0, 0, .8);
    padding:0.70em 1.5em;
    border: 1px solid black;
}
.btn-game{
    font-size: medium;
    font-weight: bold;
    text-transform:uppercase;
    padding:0.70em 1.5em;
    border-radius:10px;
    margin:10px 0 20px 0;
    background: #000000;
    color:white
}