body{
    background:url("../img/bg_shinigami.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:50px;
    height:100vh;
    font-family: 'Open Sans', sans-serif;
}
/**********title**************/
#flex-title{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
h1{
    text-shadow: 3px 1px 0px black;
    color:white
}

/**********NavBar**************/

ul.nav.navbar-nav.mr-auto {
    padding-left: 34em;
}

a.navbar-text {
    padding: 0;
    margin: 0;
}
.navbar-brand {
    padding: 0;
    margin:0;
}
.navbar-inverse {
    background:transparent;
    border: 0;
}
.fixed-top {
    position: fixed;
    top: 15px;
    right: 40px;
    left: 40px;
    z-index: 1030;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
    }

/**********Modal**************/
.modale {
    display:none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,255,0.3);
    position: fixed;
    top:0;
    left:0;
    z-index:1;
}


/*.show{*/
    /*display:flex;*/
    /*justify-content:center;*/
    /*align-items:center;*/
/*}*/
.close{
    position:absolute;
    top:0;
    right:0;
    color:white;
    cursor:pointer;
}

/*********FORM*******************/
input[type=text],input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3B70D4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.flex.center form{
    margin-top:5em;
}
/*.show{*/
    /*display:flex;*/
    /*justify-content:center;*/
    /*align-items:center;*/
/*}*/
.close{
    position:absolute;
    top:0;
    right:0;
    color:white;
    cursor:pointer;
}
/*********FORMusernew*******************/

.flex{
    display:flex;

}
.center{
    justify-content: center;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*********USERPROFIL*******************/


.avatar-box{
    padding-left:40px;
}
.avatr h2{
    text-transform:uppercase;
}
.username {

    height: 50vh;
    padding-top: 16px;
    padding-left: 37px;
}
.box{
    margin-top:10px;
    padding:10px;
    display: inline-block;
    width: 68%;
}
.box-nav-item a{
    padding: 14px 20px;
    color:grey;
}
.title{
    padding-top:10px;
    font-weight:bold;
    display: inline-block;
    width: 25%;
}
.friend-item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
    display: inline-block;
    margin-right: -17px;
}
.friend-item img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.box-profil.col-md-8  {
    background: #eaeaea;
}
.box-nav-item {
    padding: 10px;
    background: #eaeaea;
    box-shadow: -1px -1px 5px #0000000d;
}
.container-fluid.bg-wrapper {
    margin-top: 84px;
}

li{list-style: none}
.collapse {

     visibility: visible !important
}











/*********our centers*******************/


.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
.col-md-12.lib-cart {
    padding: 20px;
    text-align: center;
}
/*********ranking*******************/

*{
    box-sizing:border-box;
}
.flex{
    display:flex;

}
.center{
    justify-content:center;
    align-items:center;

}
#bg{
    width: 50vw;
    margin:0 auto;
    background: #dce6f199;
    height: 90vh;
}
.wrapper{

    width: 80%;
    height: 70%;
}
.top {
    position:relative;
    height: 80%;
    background: url(http://seriable.com/wp-content/uploads/2011/10/dex-praise3.jpg);
    background-size: 200%;
    background-position: -106px 0;
    width: 40%;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #102d52e0;
}

.rank{
    width: 60%;
    background: green;
    height: 100%;
}
.rank-items{
    height: 25%;
    width: 100%;
    background: #fffbfb;

    padding-top:2em;
    padding-bottom:2em
}
.first{
    background: #f99575f7;
    color:white;
    box-shadow:0 0 0 orange;
}
.align{
    align-items:center;
}
.around{
    justify-content:space-between
}
.img-circle{
    border-radius:50%;
    margin:30px
}
.kill{
    margin-right:4em
}
.rank span{
    font-family:sans-serif;
    font-size:20px
}
.ranked{
    font-weight:bold;
    font-size: 50px ;!important
color:black;
}
.two{
    background: #dce4f1;
}
.three{
    background: #eaecf1;
}
.four{
    background: white;
}
.heading{
    margin: 3em 3em 0 2em;
    color:white;
    font-family:sans-serif;

}
h1{
    text-transform:uppercase;
    color:lightgrey;
}
h1 span{
    font-weight:300;

}
.btn{
    border-radius: 500px;
    color:white;
    background: #ec6c42f7;
    box-shadow:0px 3px 14px #ec6c42f7;
}
.number{
    font-size: 4em;
    font-weight: bold;
    margin-left:25px
}
.name{
    font-size: 2em;
    margin-right:2em
}