<div class="foot">
    <table>
        <tr>
            <td><img src="{{ asset('img/logo-Symfony.png') }}" height="50"  /></td>
            <td> copyright - Premiere Pépinière Symfony pour Webforce3 — 2017-09/2017-12</td>
        </tr>
    </table>
</div>

