<div class="modale">
    {#<span class="close"> x </span>#}
    <div class="formulaire">
        {#<form id = "valid" action="">#}

            {#<input type="text" id="fname" name="firstname" placeholder="Your name..">#}


            {#<input type="text" id="lname" name="lastname" placeholder="Your last name..">#}


            {#<input type="text" id="task" name="task" placeholder="Task..">#}

            {#<input id="submit"type="submit" value="Submit">#}
        {#</form>#}


    </div>
</div>