<div class="container-fluid">
    <nav class="navbar navbar-default navbar-inverse fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('admin_index') }}" style="display:block;">
                <img src="{{ asset("img/shinigamiLaser_white.png") }}" width="100" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse navbar-right " id="bs-example-navbar-collapse-1" >

                <ul class="nav navbar-nav ">
                    <li><a href="{{ path('homepage')}}">Accueil</a></li>
                    <li><a href="{{ path('ranking')}}">Meilleur score</a></li>
                    <li><a href="{{ path('ours_centers')}}">Nos centre</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('stats')}}">Stats</a></li>
                    <li><a href="{{ path('my_games')}}">Mes parties</a></li>
                    {% endif  %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Profil</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('profil')}}"><b>voir Profil</b> <span ></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('logout') }}"><b>logout</b> <span ></span></a>
                                </li>
                            </ul>
                        </li>

                    {% else %}

                        {% if app.session.get("_security.last_error") is defined %}
                            {% set last_error = app.session.get("_security.last_error") %}
                            {% set last_username = app.session.get("_security.last_username") %}
                        {% else %}
                            {% set last_error = null %}
                            {% set last_username = null %}
                        {% endif  %}

                    <li><a href="{{path('registration')}}" class="navbar-text">Creer un compte</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu" style="{{ last_error != null ? 'display: block;' }}">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="{{ path('login') }}" accept-charset="UTF-8" id="login-nav">

                                            {% if last_error %}
                                                <div style="background-color: #7c171d;color: #FFFFFF;text-align: center;font-weight: bold;">
                                                    {{ last_error.message }}
                                                </div>
                                            {% endif  %}

                                            <div class="form-group">
                                                <label class="sr-only" for="username">Username</label>
                                                <input type="text" class="form-control" id="username"  name="_username" {{ last_username ? 'value='~last_username~'' : 'placeholder=Username required' }}>

                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="password">Password</label>
                                                <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                            </div>
                                            {#<div class="help-block text-center"><a href="">Forget the password ?</a></div>#}
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>