<nav aria-label="Page navigatio">
    <ul class="pagination justify-content-center">

        <li class="page-item {{ currentPage == 1 ? 'disabled' }}">
            <a class="page-link" href="{{ path('game_index', { 'page': (currentPage - 1) }) }}" tabindex="-1">Previous</a>
        </li>

        {% for page in 1..pageMax %}
            {% if currentPage == page  %}
                <li class="page-item active">
                    <span class="page-link">{{ page }}<span class="sr-only">(current)</span></span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('game_index', { 'page': page }) }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <li class="page-item {{ currentPage == pageMax ? 'disabled' }}">
            <a class="page-link" href="{{ path('game_index', { 'page': (currentPage+1) }) }}" tabindex="+1">Next</a>
        </li>
    </ul>
</nav>