{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infousers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Streetnumber</th>
                <th>Street</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Phonenumber</th>
                <th>Birthday</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for infoUser in infoUsers %}
            <tr>
                <td><a href="{{ path('infouser_show', { 'id': infoUser.id }) }}">{{ infoUser.id }}</a></td>
                <td>{{ infoUser.firstName }}</td>
                <td>{{ infoUser.lastName }}</td>
                <td>{{ infoUser.streetNumber }}</td>
                <td>{{ infoUser.street }}</td>
                <td>{{ infoUser.zipCode }}</td>
                <td>{{ infoUser.city }}</td>
                <td>{{ infoUser.phoneNumber }}</td>
                <td>{% if infoUser.birthday %}{{ infoUser.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ infoUser.avatar }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('infouser_show', { 'id': infoUser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('infouser_edit', { 'id': infoUser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('infouser_new') }}">Create a new infoUser</a>
        </li>
    </ul>
{% endblock %}
