{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infouser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infoUser.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ infoUser.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ infoUser.lastName }}</td>
            </tr>
            <tr>
                <th>Streetnumber</th>
                <td>{{ infoUser.streetNumber }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ infoUser.street }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ infoUser.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ infoUser.city }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ infoUser.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if infoUser.birthday %}{{ infoUser.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ infoUser.avatar }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('infouser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('infouser_edit', { 'id': infoUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
